@(event_name: String, keywordForm: Form[Keyword])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@main("Events") {
 
<div class="w3-container w3-teal w3-padding-8 w3-card-2">
    <span class="w3-large w3-text-black"><b>New keyword</b></span> 
</div>

 <div class="w3-container w3-padding-8" style="width:60%;">
    @helper.form(routes.Application.addKeyword(event_name)) {
    <table class="w3-table w3-bordered w3-border w3-margin-top">
	    <tr>
		    <td width=40%>
		    @helper.inputText(keywordForm("Event"))
		    </td>
	    </tr>
	    <tr>
		    <td>
		    @helper.inputDate(keywordForm("Text"))
		    </td>
	    </tr>
		<tr>
		    <td>
		    <button type="submit" class="w3-btn w3-round">Add keyword</button>
		    </td>
	    </tr>
	</table>

	}
</div>

}
