@(event_name: String, querytype: String, lambdatype: String, id: String)(implicit messages: play.api.i18n.Messages, request: RequestHeader)

<!-- , queryForm: Form[Query] -->
<div class="w3-container w3-padding-0 w3-margin-top" style="width:100%;">	 

	<p class="w3-small w3-text-black" style="text-transform: capitalize;"><b>New @lambdatype @querytype Query</b></p> 

	@helper.form(routes.Application.addQuery(event_name, querytype, lambdatype), 'class -> "form-horizontal") {
		

		<fieldset>

			<input type="hidden" name="querytype" value="@querytype">
			<table class="w3-table w3-padding-0">
				<tr valign="middle">	
					<td class="w3-padding-0" align="left" height=10px width=200px>
						<p class="w3-small w3-text-indigo">Enter Date option</p>
						<span class="w3-small"><input checked type="radio" name="date" value="now" onclick="handleOption1('@id');"> Now</span>
					</td>
					<td> <input type="hidden" name="ld1" value="now"></td>
					<td> <input type="hidden" name="ud1" value=""> </td>
				</tr>
				<tr valign="middle">
					<td class="w3-padding-0" align="left" height=20px width=200px>
						<span class="w3-small"><input type="radio" name="date" value="since" onclick="handleOption2('@id');"> Since</span>
					</td>
					<td class="w3-padding-0">
						<span id='since_@id' style="display: none;">Date <input type="date" name="ld2" value=""></span>
					</td>
					<td><input type="hidden" name="ud2" value=""></td>
				</tr>
				<tr valign="middle">
					<td class="w3-padding-0" align="left" height=20px width=200px>
						<p class="w3-small"><input type="radio" name="date" value="period" onclick="handleOption3('@id');"/> Time Period</p>
					</td>
					<td class="w3-padding-0" align="left" width=200px>
						<span id='period1_@id' style="display: none;">From <input type="date" name="ld3" value=""></span>
					</td>
					<td class="w3-padding-0" align="left" width=200px>
					    <span id='period2_@id' style="display: none;">To <input type="date" name="ud3" value=""></span>
					</td>
				</tr>
				<tr>
				<td colspan="3" class="w3-tiny w3-text-light-grey" align="center" height=1px>________________________________________________________________________________________________</td>
				</tr>
				<tr valign="bottom">
					<td class="w3-padding-0" align="left" height=15px width=200px>
						<p class="w3-small w3-text-indigo">Select Trend Criteria</p>
					</td>
				</tr>
				<tr valign="bottom">
					<td class="w3-padding-0" align="left" height=20px width=200px>
						<span class="w3-small"><input checked type="radio" name="trend" value="topk" onclick="handleOption4('@id');"> Top K</span>				
					</td>
					<td class="w3-padding-0" valign="bottom">
						<span id='trend1_@id' style="display: block;"><input type="text" name="k"  value="" placeholder="Enter k value"></span>
					</td>
					<td></td>
				</tr>
				<tr valign="bottom">
					<td class="w3-padding-0" align="left" height=20px width=200px>
						<span class="w3-small"><input type="radio" name="trend" value="threshold" onclick="handleOption5('@id');"> Threshold</span>
					</td>
					<td class="w3-padding-0">
						<span id='trend2_@id' style="display: none;"><input type="text" name="t" value="" placeholder="Enter min # of hits"></span>
					</td>
					<td></td>
				</tr>
				<tr>
				<td class="w3-tiny w3-text-light-grey" align="center" height=1px colspan="3">________________________________________________________________________________________________</td>
				</tr>
				<tr>
					<td>
					<div class="actions">
					<input class="w3-btn w3-small w3-round" type="submit" value="Create" class="3w-btn btn btn-primary">
					</div>
					</td>
					<td></td>
					<td></td>
				</tr>
			</table>
		    

		</fieldset>
	}
		
</div>

<script>
	function handleOption1(i) {
	    document.getElementById('since_'+i).style.display = "none";
	    document.getElementById('period1_'+i).style.display = "none";
	    document.getElementById('period2_'+i).style.display = "none";
	}
	function handleOption2(i) {
	    document.getElementById('since_'+i).style.display = "block";
	    document.getElementById('period1_'+i).style.display = "none";
	    document.getElementById('period2_'+i).style.display = "none";
	}
	function handleOption3(i) {
	    document.getElementById('since_'+i).style.display = "none";
	    document.getElementById('period1_'+i).style.display = "block";
	    document.getElementById('period2_'+i).style.display = "block";
	}
	function handleOption4(i) {
	    document.getElementById('trend1_'+i).style.display = "block";
	    document.getElementById('trend2_'+i).style.display = "none";
	}
	function handleOption5(i) {
	    document.getElementById('trend1_'+i).style.display = "none";
	    document.getElementById('trend2_'+i).style.display = "block";
	}
</script>



