@(query: Query)


<div class="w3-container w3-padding-0 w3-margin-top" style="width:100%;"> 
  <span class="w3-small"> Unique @(query.lambdatype.capitalize)s: </span>
  <span class="w3-small" id='@{query.name}_count'></span>
  <div class="w3-small w3-padding" id='@{query.name}_result'></div>
</div>   

    <script type="text/javascript" charset="utf-8">
        var feed = new EventSource("@routes.Streaming.datasetquerychunked(query.event,  query.querytype, query.lambdatype, query.name)");
        console.log("feed", feed);
        feed.addEventListener('message', function(event) {
          console.log(event);
          var result  = jQuery.parseJSON(event.data);
          console.log(result);
          $('#@{query.name}_count').html(result.message.length)
          if (result.message.length > 0 ) {
            var str =""
            for (i in result.message){
              str = str + result.message[i].value + ", "
            }
            $('#@{query.name}_result').html(str)
          }

      }, false);
  </script>

