@(query: Query)

 
 	<div class="w3-container w3-padding-0 w3-text-black" style="text-align:left;">
	    <span class="w3-medium" id="dataset_count"></span>
	    <span class="w3-medium"> Unique Users</span>
    </div>
  	<script type="text/javascript" charset="utf-8">
	    var feed = new EventSource("@routes.Streaming.datasetquerychunked(query.event, query.querytype, query.lambdatype, query.name)");
	      console.log("feed", feed);
	      feed.addEventListener('message', function(event) {
	        console.log(event);
	        var result  = jQuery.parseJSON(event.data);
	        console.log(result);
	          $('#dataset_count').html(result.message.length)

	    }, false);
	</script>
