@(curr_event: Event, keywords: Seq[Keyword], processes: Seq[Process], queries: Seq[Query])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@lambdatype = @{"hashtag"}
@keywordForm = @{Application.addKeywordForm}
@activeForm = @{Application.addActiveForm}

@main("EPIC RealTime") {
 
	<div class="w3-container-display w3-indigo w3-padding-medium w3-card-2" style="height:50px">
	<dive class="w3-row">
      <div class="w3-col" style="width:40%">
	    <span class="w3-xlarge w3-text-shadow w3-text-amber w3-allerta">@curr_event.name</span>
		<span class="w3-text w3-small w3-small w3-indigo w3-tag"><i>@curr_event.description,</i></span> 	    
	    <span class="w3-small w3-text-light-grey"><i>started in @curr_event.startDate</i></span> 
	  </div>

	  <div class="w3-col" style="width:40%">
	  	<span class="w3-small w3-text-light-grey w3-margin-top-22">
		</span>
	  </div>

	  <div class="w3-col" style="width:7%">
	  	<span class="w3-small w3-text-light-grey w3-margin-top-18" style="text-align: right;">@if(curr_event.isActive){(Active)}else{(Not Active)}</span>
	  </div>
	  <div class="w3-col" style="width:13%">
        @helper.form(routes.Application.setActive(curr_event.name)) {
		    <span><input id="active_value" class="w3-small w3-right" type="hidden" name="active" 
		    value=@if(curr_event.isActive==false){true}else{false}></span>
		    <span><button id="active_btn" type="submit" class="w3-btn w3-tiny w3-Teal w3-round w3-margin-bottom">@if(curr_event.isActive==false){Activate}else{Deactivate}</button></span>
	    }	  
	  </div>
	</dive>
	</div>

    <table class="w3-table w3-padding-0 w3-margin-0 w3-margin-bottom">
	<tr>
		<td>
		
			<nav class="w3-sidenav w3-light-grey w3-margin-left-0 w3-padding-bottom w3-meduim" style="width:130px; box-shadow: 5px 5px 10px #a6a6a6;">
			  <a href="#" class="menulink " onclick="showMenu(event, 'Dataset')"><b>Dataset</b></a>
			  <a href="#" class="menulink" onclick="showMenu(event, 'Trend')"><b>Trend</b></a>
			  <a href="#" class="menulink" onclick="showMenu(event, 'Popular')"><b>Popular</b></a>
			</nav>
		
			<div style="margin-left:130px">
			  	<div id="Dataset" class="w3-container menu_content">
				   @dataset(curr_event, queries)
			 	</div>
			  	<div id="Trend" class="w3-container menu_content">
					<div class="w3-container w3-padding-0 w3-small">
					  <ul class="w3-navbar w3-light-grey" style="box-shadow: 5px 5px 10px #a6a6a6;">
					    <li><a href="#" class="trendtablink" onclick="showTrendMenu(event, 'TrendHashtag');"><b>Hashtag</b></a></li>
					    <li><a href="#" class="trendtablink" onclick="showTrendMenu(event, 'TrendUser');"><b>User</b></a></li>
					    <li><a href="#" class="trendtablink" onclick="showTrendMenu(event, 'TrendURL');"><b>URL</b></a></li>
					    <li><a href="#" class="trendtablink" onclick="showTrendMenu(event, 'TrendMention');"><b>Mention</b></a></li>
					  </ul>

					  <div id="TrendHashtag" class="w3-container trned_menu_content">
						@trend(curr_event, "hashtag", queries)
					  </div>
					  <div id="TrendUser" class="w3-container trned_menu_content">
						@trend(curr_event, "user", queries)
					  </div>
					  <div id="TrendURL" class="w3-container trned_menu_content">
						@trend(curr_event, "url", queries)
					  </div>
					  <div id="TrendMention" class="w3-container trned_menu_content">
						@trend(curr_event, "mention", queries)
					  </div>					
					</div>			    	
			  	</div>
			  	<div id="Popular" class="w3-container menu_content">
			  	   <div class="w3-container w3-padding-0 w3-small">
					  <ul class="w3-navbar w3-light-grey" style="box-shadow: 5px 5px 10px #a6a6a6;">
					    <li><a href="#" class="populartablink" onclick="showPopularMenu(event, 'PopularTweet');"><b>Tweet</b></a></li>
					    <li><a href="#" class="populartablink" onclick="showPopularMenu(event, 'PopularUser');"><b>User</b></a></li>
					  </ul>
					  <div id="PopularTweet" class="w3-container popular_menu_content">
						@popular(curr_event, "tweet", queries)
					  </div>
					  <div id="PopularUser" class="w3-container popular_menu_content">
					  	@popular(curr_event, "user", queries)
					  </div>					
					</div>			    					
			  	</div>
			</div>  
		  	
     	</td>
     	<td width="200px">
      		<div class="w3-light-grey w3-margin-right-2 w3-padding-0 w3-small" style="width:200px; box-shadow: 5px 5px 10px #a6a6a6;">
			 	@keywordList(curr_event.name, keywords)
		     	<div class="scroll w3-container w3-small w3-padding-4">
			    	@helper.form(routes.Application.addKeyword(curr_event.name)) {
				    	<table class="w3-table w3-tiny w3-padding-0 w3-margin-top">
					    <tr>
						    <td class="w3-padding-0">
						    	<!-- @helper.inputText(keywordForm("Text"),'type -> "text",'_label -> null) -->
						    	<input class="w3-small w3-padding-4 w3-margin-top" type="text" name="Text" value="">
						    </td>
						</tr>
						<tr>
						    <td class="w3-padding-0">
						    	<button type="submit" class="w3-btn w3-round w3-tiny w3-padding-2 w3-margin-top w3-margin-bottom">Add keyword</button>
						    </td>
					    </tr>
						</table>
					}
				</div>
			</div>
		</td>
	</tr>
	</table>


	<!-- Side Navigatin -->
	<style>
		.menu_content {display:none;}
	</style>
	<script>
		function showMenu(evt, menuName) {
		  var i, x, tablinks;
		  x = document.getElementsByClassName("menu_content");
		  for (i = 0; i < x.length; i++) {
		     x[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("menulink");
		  for (i = 0; i < x.length; i++) {
		      tablinks[i].className = tablinks[i].className.replace(" w3-black", "");
		  }
		  document.getElementById(menuName).style.display = "block";
		  evt.currentTarget.className += " w3-black";
		}
	</script>
	<!-- http://www.w3schools.com/w3css/w3css_tabulators.asp -->     
	<!-- Side Navigatin -->

	<!-- Sub Navigatin -->
	<script type="javascript/text">
	    // document.getElementById('Dataset').src='http://oneBigHairyURL';  //???
	</script>
	<style>
		.trned_menu_content {display:none;}
		.popular_menu_content {display:none;}
	</style>
	<script>
		function showTrendMenu(evt, menuName) {
		  var i, x, tablinks;
		  x = document.getElementsByClassName("trned_menu_content");
		  for (i = 0; i < x.length; i++) {
		      x[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("trendtablink");
		  for (i = 0; i < x.length; i++) {
		      tablinks[i].className = tablinks[i].className.replace(" w3-amber", "");
		  }
		  document.getElementById(menuName).style.display = "block";
		  evt.currentTarget.className += " w3-amber";
		}
	</script>
	<script>
		function showPopularMenu(evt, menuName) {
		  var i, x, tablinks;
		  x = document.getElementsByClassName("popular_menu_content");
		  for (i = 0; i < x.length; i++) {
		      x[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("populartablink");
		  for (i = 0; i < x.length; i++) {
		      tablinks[i].className = tablinks[i].className.replace(" w3-amber", "");
		  }
		  document.getElementById(menuName).style.display = "block";
		  evt.currentTarget.className += " w3-amber";
		}
	</script>
	<!-- http://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_tabulators_active -->
	<!-- Sub Navigatin -->
	
	<!-- http://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol -->

	<script>
		function showFun1(bt_id, form_id) {
			var x = document.getElementById(bt_id);
		    if (x.className.indexOf("w3-text-black") == -1) {
		    	x.className = x.className.replace(" w3-text-orange", " w3-text-black");
		        x.className += " w3-hover-text-orange";
		    } else {
		    	x.className = x.className.replace(" w3-text-black", " w3-text-orange");
		    	x.className = x.className.replace(" w3-hover-text-orange", "");
		    }
		    var y = document.getElementById(form_id);
		    if (y.className.indexOf("w3-show") == -1) {
		        y.className += " w3-show";
		    } else {
		        y.className = y.className.replace(" w3-show", "");
		    }
		}
	</script>
	<script>
		function showFun2(form_id) {
		    var y = document.getElementById(form_id);
		    if (y.className.indexOf("w3-show") == -1) {
		        y.className += " w3-show";
		    } else {
		        y.className = y.className.replace(" w3-show", "");
		    }
		}
	</script>	

	<script>
		function handleOption1(i) {
		    document.getElementById('since_'+i).style.display = "none";
		    document.getElementById('period1_'+i).style.display = "none";
		    document.getElementById('period2_'+i).style.display = "none";
		}
		function handleOption2(i) {
		    document.getElementById('since_'+i).style.display = "block";
		    document.getElementById('period1_'+i).style.display = "none";
		    document.getElementById('period2_'+i).style.display = "none";
		}
		function handleOption3(i) {
		    document.getElementById('since_'+i).style.display = "none";
		    document.getElementById('period1_'+i).style.display = "block";
		    document.getElementById('period2_'+i).style.display = "block";
		}
		function handleOption4(i) {
		    document.getElementById('trend1_'+i).style.display = "block";
		    document.getElementById('trend2_'+i).style.display = "none";
		}
		function handleOption5(i) {
		    document.getElementById('trend1_'+i).style.display = "none";
		    document.getElementById('trend2_'+i).style.display = "block";
		}
	</script>



}
