@(message: String)

@main("EPIC RealTime") {


    <header class="w3-container w3-khaki">
      <h3>Welcome!</h3>
    </header>

    <div class="w3-container w3-padding-8">
      <h5>@message</h5>
    </div>

   <!-- http://www.w3schools.com/w3css/default.asp -->
}
