@(curr_event: Event, lambdatype: String, queries: Seq[Query])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

	<div class="w3-margin-top">
		<div class="w3-row">

	        	<div class="w3-col" style="width:50%">
	     			<span><input id="popular_@{lambdatype}_q" type='button' value='Add Query' class="w3-btn w3-round w3-small w3-margin-top w3-light-grey w3-text-black w3-hover-text-orange" onclick="showFun1('popular_@{lambdatype}_q','popular_@{lambdatype}_form');"/></span>
	     		</div>		
		</div>
	</div>	

	<div class="w3-margin-top">		                    
	@for(q <- queries) {
	    <!-- i++ -->
		@if(q.event==curr_event.name && q.querytype=="popular" &&  q.lambdatype==lambdatype){
			<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="showFun2('@q.name');">@q.name</a>&nbsp;
		}
	}
	</div>
	<div id="popular_@{lambdatype}_form" class="w3-accordion-content w3-white">
	    @addQuery(curr_event.name, "popular", lambdatype, "popular_"+lambdatype)
	</div>	
	@for(q <- queries) {
		@if(q.event==curr_event.name && q.querytype=="popular" &&  q.lambdatype=="tweet"){
		  	<div id=@q.name class="w3-accordion-content w3-white w3-margin-top">
			  	@popularTweetQueryResult(q)
		  	</div>
	  	}
	  	@if(q.event==curr_event.name && q.querytype=="popular" &&  q.lambdatype=="user"){
		  	<div id=@q.name class="w3-accordion-content w3-white w3-margin-top">
			  	@popularUserQueryResult(q)
		  	</div>
	  	}
	}
