@(query: Query)


<div class="w3-container w3-padding-0 w3-margin-top" style="width:100%;">  
  <div class="w3-row" style="height:5%">
    <div class="w3-col" style="width:30%">
       <span class="w3-small w3-padding-0 w3-margin-0">(@{query.trendtype}, @{query.value})</span>
    </div>
    <div class="w3-col" style="width:8%"> 
      @helper.form(routes.Application.setQueryStatus(query.event, "trend", query.lambdatype, query.name)){
        <input type="hidden" class="w3-small" name="request" 
         value='@if(query.running){stop}else{start}'/>
        <span><button id="@{query.name}_s" type="submit" class="w3-btn w3-round w3-tiny w3-margin-0 w3-light-grey w3-text-black w3-hover-text-orange"onclick="showFun1('@{query.name}_s','');">@if(query.running){Stop}else{Start}</button></span>
      }
    </div>
    <div class="w3-col" style="width:60%">
      @helper.form(routes.Application.deleteQuery(query.event, "trend", query.lambdatype, query.name)){
        <input type="hidden" class="w3-small" name="request" value='delete'/>
        <span><button id="@{query.name}_d" type="submit" class="w3-btn w3-round w3-tiny w3-margin-0 w3-light-grey w3-text-black w3-hover-text-orange"onclick="showFun1('@{query.name}_d','');">Delete</button></span>
      }     
    </div>
  </div>
  <div class="w3-small w3-padding" id='@{query.name}_count'></div>
  <div class="w3-small w3-padding" id='@{query.name}_result'></div>
</div>   

    <script type="text/javascript" charset="utf-8">
        var feed = new EventSource("@routes.Streaming.querychunked(query.event, query.querytype, query.lambdatype, query.name)");
        console.log("feed", feed);
        feed.addEventListener('message', function(event) {
          console.log(event);
          var result  = jQuery.parseJSON(event.data);
          console.log(result);
                   
          $('#@{query.name}_count').html("new data: " + result.message.length)
          if (result.message.length > 0 ) {
            var div;
            var i =0;
            while (div = document.getElementById('p'+i)) {
              div.parentNode.removeChild(div);
              i++;
            }
          }
          var parent = document.getElementById('@{query.name}_result');
          for (i in result.message){
            var para = document.createElement('p');
            var paraName = 'p'+i;
            para.setAttribute('id',paraName);
            parent.appendChild(para);
            var index = i;
            index++;
            $(para).html("<span style='display:inline-block; width: 200;'>(" + index + ")</span>&emsp;&emsp;&emsp;" + result.message[i].value + "&emsp;&emsp;&emsp;" + result.message[i].count)
          }
          
	       
        

      }, false);
  </script>

