@(curr_event: Event, lambdatype: String, queries: Seq[Query])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

	<div class="w3-margin-top">
		<div class="w3-row">

    	<div class="w3-col" style="width:50%">
 			<span><input id="trend_@{lambdatype}_q" type='button' value='Add Query' class="w3-btn w3-round w3-small w3-margin-top w3-light-grey w3-text-black w3-hover-text-orange" onclick="showFun1('trend_@{lambdatype}_q','trend_@{lambdatype}_form');"/></span>
 		</div>	
	     		
		</div>
	</div>	

	<div class="w3-margin-top">		                    
	@for(q <- queries) {
		@if(q.event==curr_event.name && q.querytype=="trend" && q.lambdatype==lambdatype){
			<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="showFun2('@q.name');">@q.name</a>&nbsp;
		}
	}
	</div>
	<div id="trend_@{lambdatype}_form" class="w3-accordion-content w3-white">
	    @addQuery(curr_event.name, "trend", lambdatype, "trend_"+lambdatype)
	</div>	
	@for(q <- queries) {
		@if(q.event==curr_event.name && q.querytype=="trend" && q.lambdatype==lambdatype){
		  	<div id=@q.name class="w3-accordion-content w3-white w3-margin-top">
			  	@trendQueryResult(q)
		  	</div>
	  	}
	}

